{% extends 'project/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project Info</title>
</head>

<body>

    <div class="container-fluid ">
        {% for project in data %}
        <h2 class="card-title" > 
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" class="wd-icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
              {{ project.0 }} >  {{ project.1 }}</h2>
        <div class="row bg-dark text-white " style="margin: 1%;padding: 2.2%;border-radius: 8px;">
            
            <h1 class="card-title" style="display: flex; justify-content: space-between;"> I. Info : 
                <span style="display: flex; align-items: center;">
                    <button class="btn btn-success">{{ project.2 }}</button>

                    <a href="{% url 'project_detail' project_id=data.0.6 %} ">
                    <button class="btn btn-secondary" style="margin: 5px;"> 
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus wd-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="color: white; width:15px;padding-bottom: 3px;"><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path></svg>
                        </svg>
                    Rate this </button>
                    </a>


                    <a href="{% url 'payment' project_id=project.6 %}" 
                    class="btn {% if project.2 == 'completed' %}btn-success
                    {% else %}
                    btn-secondary disabled
                    {% endif %}" 
                    style="margin-left: 10px;">Payment</a>
                    
                
                </span>
            </h1>
            
            
            
                            
            <div class="row " style="padding-left: 6%;padding-right: 6%;">
                <hr style="background-color: white;">
                <div class="col-5" > Goal </div>
                <div class="col-6"> {{ project.5 }}</div>

                <div class="col-5" > Introduction </div>
                <div class="col-6"> {{ project.3 }}</div>

                <div class="col-5" > Img </div>
                <!-- <div class="col-6"> {{ project.4 }}</div> -->
                <div class="col-6"> <img width="80%" src = "{% static project.4 %}"/> </div>
        </div>
        {% endfor %}
        </div>

            
        
        <div class="row bg-dark text-white " style="margin: 1%;padding: 2.2%;border-radius: 8px;">
            
            <h1 class="card-title" style="display: flex; justify-content: space-between;" > II. Bids : 
                <span style="display: flex; align-items: center;"> 
                    <button class="btn btn-danger" style="margin: 5px;"> MAX {{ maxBid.0.0|default:"0" }}  </button> 

                    {% with max_bid=maxBid.0.0 %}
                    <a href="{% url 'bid_form' project_id=data.0.6 max_bid=max_bid %} ">
                    {% endwith %}
                    <button class="btn btn-success" style="margin: 5px;"> 
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus wd-icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="color: white; width:15px;padding-bottom: 3px;"><path fill="currentColor" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path></svg>
                    
                        </svg>
                    Bid </button>
                    </a>
                </span> 
            </h1>
           
            <div class="row " style="padding-left: 6%;padding-right: 6%;">
                <div class="col-3" > <h5 >BidID </h5></div>
                <div class="col-3">  <h5 >Amount</h5></div>
                <div class="col-3">  <h5 >Date </h5></div>
                {% for bid in bids %}    
                <hr style="background-color: white;">
                <div class="col-3" > {{ bid.0 }} </div>
                <div class="col-3"> {{ bid.1 }}</div>
                <div class="col-3"> {{ bid.3 }}</div>
                {% empty %}
                <div class="col-9" > No bids until now.</div>
                {% endfor %}
                

        </div>
            


    </div>



</body>
</html>
{% endblock content %} 