{% extends "homePage/designDemo.html" %}

<!-- the parent file -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/5/spacelab/bootstrap.min.css">
    <script src="https://bootswatch.com/5/spacelab/jquery.min.js"></script>
    <script src="https://bootswatch.com/5/spacelab/bootstrap.bundle.min.js"></script>
    <title>User Information</title>
</head>
<body>
    {% include "userInfo/nav.html"%}
    {% block content%}
    {% endblock content%}
</body>
</html>