{% extends "userInfo/base.html" %}
{% load static %}

{% block content%}

<head>
    <title>User Profile</title>
</head>

<body>
    <h2>User Profile</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                {% if picture %}
                <div style="width: 200px; height: 200px; border: 1px solid #ccc; overflow: hidden; border-radius: 50%">
                    <!-- Your image with the object-fit property -->
                    <img src="{% static picture %}" alt="Profile Picture"
                        style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%">
                </div>
                {% else %}
                <div style="width: 200px; height: 200px; border: 1px solid #ccc; overflow: hidden; border-radius: 50%">
                    <!-- Your image with the object-fit property -->
                    <img src="{% static 'profile/img/c8c9f247-028d-44ff-9929-e726e2c09331.png' %}" alt="Profile Picture"
                        style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%">
                </div>
                {% endif %}
            </div>

            <div class="col-md-8 mb-4">
                <div class="list-group">
                    <ul class="list-group">
                        {% if fname %}
                        <li class="list-group-item"><strong>First Name:</strong> {{ fname }}</li>
                        {% else %}
                        <li class="list-group-item text-muted"><strong>First Name:</strong>Not available</li>
                        {% endif %}
                        {% if lname %}
                        <li class="list-group-item"><strong>Last Name:</strong> {{ lname }}</li>
                        {% else %}
                        <li class="list-group-item text-muted"><strong>Last Name: </strong>Not available</li>
                        {% endif %}
                        {% if specialization %}
                        <li class="list-group-item"><strong>Specialization:</strong> {{ specialization }}</li>
                        {% else %}
                        <li class="list-group-item text-muted"><strong>Specialization: </strong>Not available</li>
                        {% endif %}
                        {% if rating %}
                        <li class="list-group-item"><strong>Rating:</strong> {{ rating }}</li>
                        {% else %}
                        <li class="list-group-item text-muted"><strong>Rating: </strong>Not available</li>
                        {% endif %}
                        {% if bio %}
                        <li class="list-group-item"><strong>Biography:</strong> {{ bio }}</li>
                        {% else %}
                        <li class="list-group-item text-muted">This user is lazy. No bio to be displayed://</li>
                        {% endif %}
                    </ul>
                </div>
                <button class="btn btn-primary float-end mt-4">
                    <a href="{%url 'other_projects' user_id%}" style="text-decoration:none">View Projects</a>
                </button>
            </div>
        </div>
    </div>
</body>
{% endblock content %}