{% extends "userInfo/base.html" %}

{% block content%}

<head>
    <title>User Profile</title>
</head>

<body>
    <h2>User Profile</h2>

    {% if picture %}
    <img src="{{ picture }}" alt="Profile Picture">
    {% else %}
    <p><strong>Profile Picture: </strong>Not available</p>
    {% endif %}

    {% if fname %}
    <p><strong>First Name:</strong> {{ fname }}</p>
    {% else %}
    <p><strong>First Name:</strong>Not available</p>
    {% endif %}

    {% if lname %}
    <p><strong>Last Name:</strong> {{ lname }}</p>
    {% else %}
    <p><strong>Last Name: </strong>Not available</p>
    {% endif %}

    {% if specialization %}
    <p><strong>Specialization:</strong> {{ specialization }}</p>
    {% else %}
    <p><strong>Specialization: </strong>Not available</p>
    {% endif %}

    {% if rating %}
    <p><strong>Rating:</strong> {{ rating }}</p>
    {% else %}
    <p><strong>Rating: </strong>Not available</p>
    {% endif %}

    {% if bio %}
    <p><strong>Biography:</strong> {{ bio }}</p>
    {% else %}
    <p>This user is lazy. No bio to be displayed://</p>
    {% endif %}
</body>
{% endblock content %}