{% extends 'userInfo/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Profile List</title>
    <style>
        .card {
            width: 18rem;
            border: 1px solid rgb(175, 191, 235);
            /* Add border styles for the card */
        }
    </style>
</head>


<body>
    <h1 class="fw-bold fs-6 mb-3">View All Users</h1>
    <div class="container">
    <div class="row">
        <h2 class="fw-bold fs-4 mb-3">Admins</h2>
        {% for user in admins %}
        <div class="col-md-4">
            <div class="card text-center mb-3" style="width: 18rem;">
                {% if user.3 %}
                <img class="card-img-top" src="{% static user.3 %}" alt="Card image cap" style="width:100%; height:15vw; object-fit: cover">
                {% else %}
                <img class="card-img-top" src="{% static 'profile/img/c8c9f247-028d-44ff-9929-e726e2c09331.png' %}" 
                    alt="Card image cap" style="width:100%; height:15vw; object-fit: cover;">
                {% endif %} 
                <div class="card-body ">
                    <!-- display name -->
                    {% if user.1 and user.2%}
                    <h5 class="card-title">{{user.1}} {{user.2}}</h5>
                    {% else %}
                    <h5 class="card-title">You Know Who</h5>
                    {% endif%}
               
                    {% if user.4 %}
                    <p class="card-text" data-bs-toggle="collapse" href="#userCollapse{{ user.id }}" role="button" aria-expanded="false"
                        aria-controls="userCollapse{{ user.id }}" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        {{ user.4 }}
                    </p>
                    <div class="collapse" id="userCollapse{{ user.id }}">
                        <p class="card-text">{{ user.4 }}</p>
                    </div>
                    {% else %}
                    <p class="card-text">zzz..</p>
                    {% endif %}

                    <a class="card-link fw-bold text-decoration-none btn btn-link" href="{%url 'other_profile' user.0 %}" style="color:rgb(99, 115, 232)">View More</a>
                    <!-- <a class="card-link fw-bold text-decoration-none" href="{%url 'send' user.0 %}">Message</a> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="row">
        <h2 class="fw-bold fs-4 mb-3">Normal Users</h2>
        {% for user in normals %}
        <div class="col-md-4">
            <div class="card text-center mb-3" style="width: 18rem;">
                {% if user.3 %}
                <img class="card-img-top" src="{% static user.3 %}" alt="Card image cap"
                    style="width:100%; height:15vw; object-fit: cover">
                {% else %}
                <img class="card-img-top" src="{% static 'profile/img/c8c9f247-028d-44ff-9929-e726e2c09331.png' %}"
                    alt="Card image cap" style="width:100%; height:15vw; object-fit: cover;">
                {% endif %}
                <div class="card-body ">
                    <!-- display name -->
                    {% if user.1 and user.2%}
                    <h5 class="card-title">{{user.1}} {{user.2}}</h5>
                    {% else %}
                    <h5 class="card-title">You Know Who</h5>
                    {% endif%}
                    <!-- display biography -->
                    {% if user.4%}
                    <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{user.4}}
                    </p>
                    {% else %}
                    <p class="card-text">zzz..</p>
                    {% endif %}
                    <a class="card-link fw-bold text-decoration-none btn btn-link" href="{%url 'other_profile' user.0 %}" style="color:rgb(99, 115, 232)">View More</a>
                    <!-- <a class="card-link fw-bold text-decoration-none" href="{% url 'message' %}?to_userID=user.0">Message</a> -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    </div>

</body>
{% endblock content %}