{% extends 'userInfo/base.html' %}


<!-- <table>
    <thead>
        <tr>
            <th>User Name</th>
            <th>Profile</th>
        </tr>
    </thead>
    <tbody>
        {% for user in data %}
        <td>{{ user.0 }}</td>
        <td><a href="{% url 'other_profile' user.1 %}">View Profile</a></td>
        {% endfor%}
    </tbody>
</table> -->


{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile List</title>
</head>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>User Profiles</th>
        </tr>
    </thead>
    <tbody>
        <!--Print object_list {{ object_list }} -->
        {% for user in object_list %}
        <tr>
            <td>{{ user.name }}</td>
            <td>
                <a href='{% url "other_profile" user.userID %}'>details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</html>
{% endblock content %}