{% extends "userInfo/base.html" %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
<body>
    <h1>User Profile</h1>
    <p>ID: {{ user_info.userID }}</p>
    <p>Name: {{ user_info.name }}</p>
    <p>Email: {{ user_info.email }}</p>
    <p>Type: {{ user_info.type }}</p>
    <p>Specialization: {{ user_info.specialization }}</p>
    <p>Password: {{ user_info.password }}</p>
    <p>Rating: {{ user_info.rating }}</p>
    <p>Last Login: {{ user_info.lastLogin }}</p>
    <p>Registration Date: {{ user_info.registrationDate }}</p>
</body>
{% endblock content %}