
{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>SkillMatchPro | Discover the Perfect Match</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link
      href="{% static 'homePage/css/fontawesome.min.css' %}"
      rel="stylesheet"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'homePage/img/favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'homePage/img/favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'homePage/img/favicons/favicon-16x16.png' %}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'homePage/img/favicons/favicon.png' %}"
    />
    <link
      rel="manifest"
      href="{% static 'homePage/img/favicons/manifest.json' %}"
    />
    <meta
      name="msapplication-TileImage"
      content="{% static 'homePage/img/favicons/mstile-150x150' %}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap"
      rel="stylesheet"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Development version -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <!-- Production version -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'homePage/css/theme.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav
        class="navbar navbar-expand-lg navbar-light sticky-top"
        data-navbar-on-scroll="data-navbar-on-scroll"
      >
        <!-- logo -->
        <div class="container">
          <a class="navbar-brand" href="#logo"
            ><img
              src="{% static 'homePage/img/logo.png' %}"
              id="logo"
              height="31"
              alt="logo"
          /></a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"> </span>
          </button>
          <div
            class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0"
            id="navbarSupportedContent"
          >
            <!-- direct to other page -->
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for category in categories %}
                    <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
            </li>
            
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Disputes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="message" href="#marketing">Message</a>
              </li>
            </ul>

            <!-- search bar -->
            <div class="input-group rounded">
              <input
                type="search"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
            </div>
            <hr />
          </div>
        </div>
            </nav>
    </main>

    <script src="{% static 'homePage/js/vendors/jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'homePage/js/vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'homePage/js/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'homePage/js/vendors/is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'homePage/js/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'homePage/js/vendors/theme.js' %}"></script>
  </body>
</html>

