{% extends "homePage/designDemo.html" %}



{% block content %}
    <h1>Settle Disputes</h1>

    <form method="post" action="{% url 'settling_dispute_view' %}">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Settle</th>
                    <th scope="col">Dispute ID</th>
                    <!-- Add other columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for dispute in all_disputes %}
                    <tr>
                        <td><input type="checkbox" name="dispute_ids[]" value="{{ dispute.id }}"></td>
                        <td>{{ dispute.id }}</td>
                        <!-- Add other columns as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Settle Selected Disputes</button>
    </form>
{% endblock %}
